@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* shared styles */

.display-flex{
    display: flex;
}


.text-gray{
    color:#424242 ;
}

.text-light-gray{
    color: #727272;
    font-size: 2.8rem;
}


.text-lighter-gray{
    color: #727272 ;
    font-size: 1rem;

}

.text-orange{
    color: #FF900E;
}


.btn-primary{
    background-color: #FF900E;
    border-radius: 8px;
    color: white;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 1.25rem;
    border-style: none;
}


main{
    max-width:1440px;
    margin: 0 auto;

}


main > section{
    margin: 130px;
}




/* header styles */

.bg-color{
    background-color:rgba(255, 144, 14, 0.1) ;
}


/* navbar styles */     

.navbar  {
    justify-content: space-between;
    align-items:center ;

}


.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-links{
    text-decoration: none;
    font-weight:600;

}


.navbar, .banner{
    max-width: 1140px;
    margin: 0 auto;
}

/* banner styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;  
    margin-bottom: 50px;
    
}


.banner-title{
font-size: 4em;
font-weight: 700;
}

.banner-img{
    width: 100%;
}



/* 2nd page */
.teams{
    align-items: center;
}


.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features{
    margin-left: 130px;
    max-width: 530px;

}

.feature-content{
    font-size: 2.8rem;
}



/* 3rd page  */
#title-border{
    border-left: 10px solid #FF900E;
    margin-right: 20px;
}

.card-title{
    margin-top: 0px;
    margin-bottom: 0px;
}


.feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0,0,0,0.06);
    margin-bottom: 20px;
    border-radius: 8px;
}


.enjoy{
    gap:50px
    ;
    align-items:center;

}


#badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -40px;
    margin-top: -99px;
}

#badge-year{
    font-size: 4rem;
    font-weight: 700;
}






/* 4th page */
.facts-card{
    border:1px solid #FF900E;
    border-radius:8px;
    width: 240px;
    height: 240px; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.facts-content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}


.fact-number{
    font-weight: 500;
    font-size: 2.8rem;
    margin-top:10px ;
    margin-bottom: 5px;

}

.fact-name{
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 10px;
}

.some{
    margin-bottom: 50px;
}



/* last page  */
 .random-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
 }

 .sponsor-list{
    display: grid;
    grid-template-columns:repeat(5,1fr) ;
    gap:15px;
 }


 .sponsor-list img{
    filter: grayscale(100%);
 }

 footer{
    text-align: center;
 
 }



 /* footer */
/* Responsive media query small device */    

@media screen and (max-width:576px){
    .navbar, 
    .nav-links,
    .teams{
        flex-direction: column;
    }


    .navbar h3{
        font-size: 4rem;
    }

    .navbar ul{
        gap: 20px;
        font-size: 2rem;
    }

    .teams-img-container{
        grid-template-columns: repeat(1,1fr);
    }

    .our-features{
        margin-left: 20px;
    }

    .facts-content{
        grid-template-columns: repeat(1,1fr);
        gap: 50px ;
        justify-content: center;
    }

     .sponsor-list{
    grid-template-columns:repeat(1,1fr) ;
    gap:25px;
    justify-content: center;
}
.random-info h3{
    font-weight: 700;
    font-size: 30px;
    text-align: center;


}

.enjoy{
    flex-direction: column;
}

.f-image{
    width: 100%;

}
#badge{
    margin-top: 30px;
    margin-left: 2px;
}
   

}


/* Responsive media query medium device */

@media screen and (min-width: 576px) and (max-width: 992px){
     .teams{
        flex-direction: column;
        justify-content: center;
    }

.our-features{
   margin: 60px auto;
}

.sponsor-list , .facts-content {
    grid-template-columns:repeat(2,1fr) ;
    gap:50px;
    justify-items: center;
    
}

.enjoy{
    flex-direction: column;
}

.f-image{
    width: 100%;}

}   